<div class="container position-relative">
  <button
    mat-raised-button
    class="mt-3"
    color="accent"
    routerLink="/customer/addCustomer"
    [disabled]="!admin"
  >
    <mat-icon>person_add</mat-icon> Nuovo Cliente
  </button>
  <div class="position-absolute end-0 top-0 me-3 mt-4">
    <span *ngIf="isLoading">Aggiorno...<mat-icon class="spinner">sync</mat-icon></span>
    <span *ngIf="!isLoading">Aggiornato <mat-icon>task_alt</mat-icon></span>
  </div>
  <mat-form-field appearance="standard" class="w-100">
    <mat-label><mat-icon>person_search</mat-icon> Cerca Cliente</mat-label>
    <input matInput (keyup)="applyFilter(input.value)" #input/>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="w-100" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="ragioneSociale">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ragione Sociale</th>
        <td mat-cell *matCellDef="let row">{{ row.ragioneSociale }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <ng-container matColumnDef="partitaIva">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Partita IVA</th>
        <td mat-cell *matCellDef="let row">{{ row.partitaIva }}</td>
      </ng-container>

      <ng-container matColumnDef="azioni">
        <th mat-header-cell *matHeaderCellDef>Azioni</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button
          routerLink="/customer/{{ row.id }}"
          color="accent">
            <mat-icon>receipt</mat-icon>
          </button>
          <button
            mat-icon-button
            color="accent"
            routerLink="/customer/editCustomer/{{ row.id }}"
            [disabled]="!admin"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            (click)="openDialog(row.id)"
            mat-icon-button
            [disabled]="!admin"
            color="warn"
          >
            <mat-icon>person_off</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [length]="tableLenght"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = $event"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
